@import url("https://fonts.googleapis.com/css2?family=Iceberg&display=swap");

:root {
    --dark-color: #121212;
    --ligth-color: #30393E;
    --main-color: #f9f9f9;
    --seconday-color: #282730;
    --contrast-color: #bb86fc;

    --h1-font: 6.25rem;
    --h2-font: 2.5rem;
    --p-font: 1.25rem;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Iceberg", cursive;
    font-weight: 400;
    font-style: normal;
}