:root {
    --dark-color: #221C28;
    --ligth-color: #30393E;
    --main-color: #fff;
    --seconday-color: #282730;

    --h1-font: 6.25rem; /*100px*/
    --h2-font: 2.5rem; /*40px*/
    --p-font: 1.25rem; /* 20px*/
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Iceberg';
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(160deg, var(--ligth-color) 0%, var(--ligth-color) 100%);
    border: 1px solid var(--main-color);

    box-sizing: border-box;

    position: relative;
    width: 1440px;
    height: 1478px;

}

h1 {
    color: var(--main-color);
    opacity: 0.8;

    position: absolute;
    width: 1080px;
    height: 75px;
    left: 144px;
    top: 66px;

    font-size: var(--h1-font);
    line-height: 122px;
    display: flex;
    align-items: center;
}

h2 {
    color: var(--main-color);
    opacity: 0.8;

    position: absolute;
    width: 792px;
    height: 60px;
    left: 324px;
    top: 215px;

    font-size: var(--h2-font);
    line-height: 49px;
    display: flex;
    align-items: center;
}

p {
    color: var(--seconday-color);

    position: absolute;
    left: 7.2%;
    right: 12.8%;
    top: 22.5%;
    bottom: 23.75%;

    font-size: var(--p-font);
    line-height: 24px;
    display: flex;
    align-items: center;
}