/* html{
  background: linear-gradient(160deg, var(--ligth-color) 0%, var(--dark-color) 100%);
} */

body {
  /* TODO: depois remover essa linha e deixar o background na tag html */
  background: linear-gradient(160deg, var(--ligth-color) 0%, var(--dark-color) 100%);
  border: 10px solid var(--main-color);

  /* box-sizing: border-box; */

  /* position:relative; */
  max-width: 1440px;
  /* TODO: inverter heigth para auto*/
  height: 1478px;
  /* min-height: 100%;
  height: auto;  */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--main-color);
  opacity: 0.8;

  max-width: 100%;
  font-size: var(--h1-font);
}

h2 {
  color: var(--main-color);
  opacity: 0.8;

  padding-left: 5%;
  margin-bottom: 1rem;
  width: 95%;
  height: 3.75rem;
  line-height: 3.75rem;

  font-size: var(--h2-font);

  background: rgba(0, 0, 0, 0.4);
  border-radius: 36px 36px 0px 0px;
}

input {
  width: 100%;
  height: 75%;
  color: var(--seconday-color);

  font-size: var(--p-font);
  line-height: 24px;

  padding: 0 0.5rem;
  border: none;
}

input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icons {
  color: var(--seconday-color);

  width: 2.25rem;
  height: 2.25rem;
}

.icons:hover {
  color: var(--contrast-color);
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;

}