:root {
  --dark-color: #221C28;
  --ligth-color: #30393E;
  --main-color: #fff;
  --seconday-color: #282730;

  --h1-font: 6.25rem;
  /*100px*/
  --h2-font: 2.5rem;
  /*40px*/
  --p-font: 1.25rem;
  /* 20px*/
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Iceberg';
  font-weight: 400;
  font-style: normal;
}

/* html{
  background: linear-gradient(160deg, var(--ligth-color) 0%, var(--dark-color) 100%);
} */

body {

  /* TODO: depois remover essa linha e deixar o background na tag html */
  background: linear-gradient(160deg, var(--ligth-color) 0%, var(--dark-color) 100%);
  border: 10px solid var(--main-color);
  
  /* box-sizing: border-box; */

  /* position:relative; */
  max-width: 1440px;
  /* TODO: inverter heigth para auto*/
  height: 1478px;
  /* min-height: 100%;
  height: auto;  */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--main-color);
  opacity: 0.8;

  /* position: absolute;
  width: 1080px;
  height: 75px;
  left: 144px;
  top: 66px; */

  max-width: 100%;
  font-size: var(--h1-font);
  /* display: flex;
  align-items: center; */
}

h2 {
  color: var(--main-color);
  opacity: 0.8;
  
  padding-left: 5%;
  margin-bottom: 1rem;
  width: 95%;
  height: 3.75rem;
  line-height: 3.75rem;

  font-size: var(--h2-font);

  background: rgba(0, 0, 0, 0.4);
  border-radius: 36px 36px 0px 0px;

}

p {
  color: var(--seconday-color);

  font-size: var(--p-font);
  line-height: 24px;
  
  padding: 0 .5rem;
  width: 80%;
}

input{
  width: 80%;
  height: 75%;
}

/* TODO: remover tudo pra baixo */
/* ------------------------------------------------------------------------------------ */
.task_list_box_ {
  /* position: absolute; */
  width: 864px;
  height: 700px;
  /* left: 288px;
  top: 214px; */

  background: var(--seconday-color);
  box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.1);
  /* border-width: 0px 5px 5px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1); */
  border-radius: 36px;

}

.task_list_header_ {
  /* position: absolute; */
  width: 864px;
  height: 60px;
  /* left: 288px;
  top: 214px; */

  background: rgba(0, 0, 0, 0.4);
  border-radius: 36px 36px 0px 0px;
}

/* ------------------------------------------------------------------------------------ */
.task_item_box_ {
  background: var(--main-color);
  opacity: 0.8;
  border-radius: 10px;

  /* position: absolute; */
  width: 792px;
  height: 80px;
  /* left: 324px; */
  /* top: 299px; */
}