.task_list_box {
    max-width: 54rem;
    height: auto;

    background: var(--seconday-color);
    border-width: 0 0.5rem 0.5rem 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 2.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto ;
}