:root {
    --main-color: #fff;
    --seconday-color: #282730;
}

.task-item-box {
    background: var(--main-color);
    opacity: 0.8;
    border-radius: 10px;

    position: absolute;
    width: 792px;
    height: 80px;
    left: 324px;
    /* top: 299px; */
}

.done-button {
    position: absolute;
    left: 1.64%;
    right: 93.81%;
    top: 26.25%;
    bottom: 28.75%;
}

.edit-button {
    position: absolute;
    left: 88.21%;
    right: 7.25%;
    top: 26.25%;
    bottom: 28.75%;
}

.delete-button {
    position: absolute;
    left: 93.76%;
    right: 1.69%;
    top: 26.25%;
    bottom: 28.75%;
}