:root {
    --main-color: #fff;
    --seconday-color: #282730;

    --p-font: 1.25rem;
    /* 20px*/
}

.task_item_box {
    background: var(--main-color);
    opacity: 0.8;
    border-radius: 10px;

    width: 90%;
    height: 5rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.done_text {
    color: var(--seconday-color);
    opacity: 0.5;

    font-size: var(--p-font);
    line-height: 24px;
    text-decoration: line-through;

    padding: 0 0.5rem;
    width: 80%;
}

.not_done_text {
    color: var(--seconday-color);

    font-size: var(--p-font);
    line-height: 24px;

    padding: 0 0.5rem;
    width: 80%;
}

.done_button {
    margin-right: auto;
    /* TODO: Provisorio */
    background-color: var(--seconday-color);
}

.not_done_button {
    margin-right: auto;
}

.edit_button {
    margin-right: 0.5rem;
}

.delete_button {
    margin-left: auto;
}